# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/

# IDE files
.idea/
.vscode/

# Build artifacts
*.apk
*.aab
*.ipa
*.app

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine

# Android
/android/.gradle/
/android/app/build/
/android/build/
local.properties

# Logs and misc
*.log
.DS_Store